@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Light"),
         local("Gilroy-Light"),
         url("fonts/Gilroylight.woff2") format("woff2"),
         url("fonts/Gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy ExtraBold"),
         local("Gilroy-ExtraBold"),
         url("fonts/Gilroyextrabold.woff2") format("woff2"),
         url("fonts/Gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

/* -- ОБЩИЕ -- */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: black;
    line-height: 2;
    letter-spacing: 0.15px;

    min-width: 1440px;

    background-color: white;
}

.container {
    width: 1160px;
    margin: auto;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
 }

.modal-window,
.submenu {
    display: none;
}

.main-navigation,
.footer-navigation,
.title, /* Заголовки H1-H6 */
.button, /* Кнопки с желтой полоской посередине */
.about-us ul,
.product-filter legend,
.pagination {
    font-family: "Gilroy", "Arial Black", sans-serif;
    font-weight: 800;
}

.main-navigation ul,
.user-menu,
.popular-categories-list,
.services-menu,
.brand-list,
.footer-navigation,
.socials {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-navigation-link, /* 100% совпадение парвметров шрифта */
.button {
    font-size: 18px;
    letter-spacing: 3.6px;
    line-height: 1.33;
    text-transform: uppercase;
}

.button { /* Кнопки с желтой полоской посередине */
    display: inline-block;

    color: black;
    text-align: center;
    text-decoration: none;

    height: 40px;
    padding: 8px 10px;
    border-style: solid;
    border-width: 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
}

.button:hover,
.button:active,
.button:focus {
    background-image: url();
    background-color: #f0c52e;
}

.button:active,
.button:focus {
    color: rgba(0, 0, 0, 0.3);
}

.section-title {
    font-size: 47px;
    line-height: 1.02;
    letter-spacing: 0.47px;
    margin:0;
}

.line {
    width: 80px;
    height: 7px;
}

.black-line {
    background-color: black;
}

/* -- (Конец) ОБЩИЕ -- */


/* -- ШАПКА + ПОДВАЛ -- */

.device-logo:hover,
.header .transparent-button:hover, /* .transparent-button - ссылка с картинкой слева */
.site-navigation-link:hover,
.site-navigation-sublink:hover {
    opacity: 0.6;
}

.device-logo:active,
.header .transparent-button:active,
.site-navigation-link:active,
.site-navigation-sublink:active {
    opacity: 0.3;
}

.site-navigation-link,
.transparent-button {
    color: inherit;
}

.transparent-button {
    height: auto;
}

.transparent-button.logout-link {
    opacity: 0.3;
}
/* -- (Конец) ШАПКА + ПОДВАЛ -- */


/* -- ШАПКПА -- */

.header {
    color: black;
    min-height: 226px;

}

.header-inner {
    display: flex;
    flex-direction: column;

    min-height: 226px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 23px;

    background-image: linear-gradient(to bottom, white 40px, rgb(240, 197, 46, 0.5) 40px);


}


.header .device-logo-link {
    width: 163px;
    height: 35px;
    margin-bottom: 10px;
}

.header-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.search-field {
    font: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    border-width: 0;
    background-color: transparent;
    opacity: 0.3;
    height: 49.5px;
}

.search-field:hover {
    opacity: 0.6;
}

.search-field:focus {
    opacity: 1;
    border-bottom: 2px solid black;
    outline: none;
}

.search-button {
    background-color: transparent;
    border: 2px solid black;
    border-style: solid;
    padding: 15px 21px;
    margin-left: -4px;
}

.search-button:hover,
.search-button:active,
.search-button:focus {
    background-color: black;
    outline: none;
}

.search-button:hover {
    color: white;
    cursor: pointer;
}

.search-button:active,
.search-button:focus {
    color: rgba(255, 255, 255, 0.3);
}

.header-middle-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 500px;
    max-width: 600px;

}

.header .user-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.user-menu li:not(:last-child){
    margin-right: 15px;
}

.header-buttons, .footer-buttons {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: -35px;
    margin-left: 20px;
    width: 230px;
}

.header-buttons .transparent-button,
.footer-buttons .transparent-button {
        margin-right: 35px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
}

.header-bottom-right {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    max-width: 700px;
}

.product-navigation {
    width: 300px;
}

.service-navigation {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.service-navigation > li {
    margin-right: 35px;
}

.header-contacts-button {
    margin-left: 20px;
}



/* -- (Конец) ШАПКА  -- */


/* -- ГЛАВНАЯ (Index.html) -- */


/* -- СЛАЙДЕР -- */

.slider-title {
    font-size: 47px;
    line-height: 1.19;
    letter-spacing: 0.47px;
}

.slider-text {
    color: #464646;
}

.slaider-more-details-link {
    min-width: 220px;
}

.slider-table td {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.36px;
}

.slider-table th {
    font-size: 13px;
    color: #464646;
    line-height: 1.54;
    letter-spacing: 0.13px;
}

/* -- (Конец)СЛАЙДЕР -- */

/* -- ПОПУЛЯРНЫЕ КАТЕГОРИИ, СЕРВИСЫ -- */

.popular-category-title {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.18px;
    color: black;
}

.serviсes {
    background-image: linear-gradient(to bottom, white 140px, #e5e5e5 140px);
}

.services-menu {
    width: 285px;
    padding: 0;
    padding-top: 120px;
    margin-left: 50px;
    border-right: 7px solid black;

}

.services-button {
    position: relative;
    min-width: 160px;
}

.services-button:active::after,
.services-button:focus::after,
.current-services-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 160px;
    width: 118px;
    height: 40px;
    background-color: black;

}

.current-services-button,
.services-button:active,
.services-button:focus {
    height: 40px;
    color: #f7e184;
    background-image: url();
    background-color: black;
    outline: none;
}

.current-services-button:hover,
.current-services-button:active,
.current-services-button:focus {
    background-color: black;
}





.service-text {
    color: #464646;
}

/* -- (Конец)ПОПУЛЯРНЫЕ КАТЕГОРИИ, СЕРВИСЫ -- */

/* -- БРЭНДЫ -- */
.brand-item {
    position: relative;

    width: 260px;
    height: 100px;

}

.brand-image {
    position: absolute;
    top: 0;
    left: 0;
}

.gray-brand-image {
    z-index: 1;
}

.gray-brand-image:hover +.color-brand-image {
    display: block;
}

.color-brand-image {
    display: none;
}

/* -- (Конец) БРЭНДЫ -- */

/* -- О НАС, КОНТАКТЫ -- */

.columns-inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 650px;
    padding-bottom: 80px;
}

.columns .black-line {
    margin-bottom: 45px;
}

.columns .section-title {
    margin-bottom: 45px;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 475px;
}


.about-us .more-about-us-link {
    margin-top: auto;
}

.feature-text {
    margin: 0;
    margin-bottom: 25px;
}

.delivery-info p {
    margin: 0;
    margin-bottom: 70px;
}

.delivery-info ul {
    margin: 0;
    margin-bottom: 30px;
    padding-left: 15px;
}

.write-us {
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.write-us p{
    margin: 0;
    margin-bottom: 25px;
}

.write-us .write-us-link {
    margin-top: auto;
}


.about-us p,
.about-us ul,
.write-us p {
    letter-spacing: normal;
}

.about-us p,
.write-us p {
    color: #464646;
}

.about-us ul {
    font-size: 16px;
    line-height: 2.5;
}

.more-about-us-link,
.write-us-link {
    min-width: 260px;
}

/* -- (Конец) О НАС, КОНТАКТЫ -- */


/* -- (Конец) ГЛАВНАЯ (Index.html) -- */


/* -- ПОДВАЛ -- */

.footer {
    color: white;
    background-color: #464646;
}

.footer-inner {
    display: flex;
    flex-direction: column;
    padding-top: 74px;
    padding-bottom: 65px;
}

.footer-top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.footer-top-right {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 700px;
}

.footer .user-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.footer-middle {
    display:flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 60px;
}

.footer-navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: wrap;
    min-width: 440px;
    max-width: 600px;
}

.footer-bottom {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display:flex;
    justify-content: space-between;
    align-items: center;

    /* временно */
    width: 200px;
}

.phone-number,
.socials a,
.developer-link {
    color: inherit;
}

.footer .device-logo-link {
    width: 163px;
    height: 35px;
}
.device-logo-orange {
    fill: #ffc600;
}

.footer .transparent-button:not(.logout-link) {
    opacity: 0.7;
}

.footer .transparent-button:hover {
    opacity: 1;
}

.footer .transparent-button:active {
    opacity: 0.3;
}


.phone-number {
    font: inherit;
}

.yellow-line {
    background-color: #ffc600;
}

.socials {
    text-align: center;
}

.socials a {
    opacity: 0.3;
}

.socials a:hover {
    opacity: 0.6;
}

.socials a:active {
    opacity: 0.1;
}

.developer-link:hover {
    opacity: 0.6;
}

.developer-link:active {
    opacity: 0.1;
}



/* -- (Конец) ПОДВАЛ  -- */



/* =====  Catalog.html  ===== */


/* -- ГЛАВНАЯ (Catalog.html) -- */

.page-title {
    font-size: 47px;
    line-height: 1.02;
    letter-spacing: 0.47px;
}

.breadcrumbs,
.product-filter-form ul,
.product-sorting ul,
.product-list,
.page-numbers-list {
    list-style: none;
    margin:0;
    padding: 0;
}

.product-filter-label,
.product-sorting-label {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 3.2px;
}

.breadcrumbs-wrapper {
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.breadcrumbs-wrapper .page-title {
    margin: 0;
    margin-bottom: 25px;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.breadcrumbs li {
    margin-right: 10px;
}

.products {
    display: flex;
    width: 1440px;
    margin: 0 auto;
}

.product-filter {
    width: 465px;
}

.product-block {
    width: 975px;
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.14px;
    color: black;
    opacity: 0.3;
}

.breadcrumbs a:hover {
    opacity: 0.6;
}

.breadcrumbs a:active {
    opacity: 0.1;
}

.current-breadcrumb {
    opacity: 0.3;
}


/* -- ФИЛЬТР ТОВАРОВ -- */
.product-filter-head {
    height: 70px;
    background-color: #d9d9d9;
    padding-left: 200px;
}

.product-filter-form {
    padding-top: 65px;
    padding-left: 200px;
}

.product-filter {
    background-color: #ebebeb;
}

.filter-box {
    width: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 2px solid black;
}

.product-filter fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.product-filter legend {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.18px;
}

.checkbox-list,
.radio-list {
    font-size: 14px;
    line-height: 2.86;
    letter-spacing: 0.14px;
}

.checkbox-input:hover,
.radio-input:hover {
    opacity: 0.6;
}

.checkbox-input:disabled,
.radio-input:disabled {
    opacity: 0.25;
}

.checkbox-input:disabled + label,
.radio-input:disabled + label {
    color: #a6a6a6;
}

.filter-submit {
    min-width: 200px;
    line-height: normal;
}
/* -- (Конец) ФИЛЬТР ТОВАРОВ -- */


/* -- КАТАЛОГ ТОВАРОВ, СОРТИРОВКА ТОВАРОВ -- */
.product-sorting {
    display: flex;
    /* временно */
    justify-content: space-between;
    height: 70px;
    background-color: #ebebeb;
    padding-right: 140px;
    padding-left: 70px;
}

.product-sorting-types {
    display: flex;

}

.product-sorting-link {
    opacity: 0.3;
    font-size: 14px;
    line-height: 1.29;
    font-weight: 400;
    letter-spacing: normal;
    color: black;
}

.product-sorting-icon {
    opacity: 0.3;
}

.product-sorting-link:hover,
.product-sorting-icon:hover {
    opacity: 0.6;
}

.current-product-sorting-link:hover,
.current-product-sorting-icon:hover {
    opacity: 1;
}

.current-product-sorting-link,
.current-product-sorting-icon,
.product-sorting-link:active,
.product-sorting-icon:active {
    opacity: 1;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 140px;
    padding-left: 70px;
    padding-top: 70px;

}

.product-item {
    width: 360px;
    margin-bottom: 40px;
}

.product-item .hidden-block {
    display: none;
}

.product-item .product-image {
    margin-bottom: 30px;
}

.product-description {
    display: flex;
    justify-content: space-between;
}



.product-description .product-price {
    width: 100px;
    text-align: right;
    margin-left: 10px;
}

.product-title {
    margin: 0;
   font-size: 18px;
   line-height: 1.33;
   letter-spacing: 0.18px;
   color: black;
}

.add-to-compare {
    min-width: 200px;
    color: black;
}

.add-to-compare {
    opacity: 0.5;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: 0.13px;
}

.add-to-compare:hover {
    opacity: 1;
}

.add-to-compare:active {
    opacity: 0.2;
}

.product-price {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #464646;
    line-height: 1.5;
    letter-spacing: 0.16px;
}


/* -- (Конец) КАТАЛОГ ТОВАРОВ, СОРТИРОВКА ТОВАРОВ -- */

/* -- ПАГИНАЦИЯ -- */
.pagination {
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    margin-right: 140px;
    margin-left: 70px;
    margin-bottom: 75px;
}

.page-number,
.page-number a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 3.2px;
    color: black;
}

.page-number a {
    opacity: 0.3;
}

.page-number a:hover {
    opacity: 0.6;
}

.page-number a:active {
    opacity: 1;
}

.pagination-button {
    display: inline-block;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: black;
    text-align: center;

    width: 136px;
    height: 70px;
    padding: 23px 10px;

    background-color: transparent;
}

.pagination-button:hover,
.pagination-button:active,
.pagination-button:focus {
    background-color: #d9d9d9;
}

.pagination-button:active,
.pagination-button:focus {
    color: rgba(0, 0, 0, 0.3);
}

/* -- (Конец) ПАГИНАЦИЯ -- */


/* =====  (Конец) Catalog.html  ===== */



/* -- Внешние ресурсы -- */
.external-svg {
    display: none;
}
