@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Light"),
         local("Gilroy-Light"),
         url("fonts/Gilroylight.woff2") format("woff2"),
         url("fonts/Gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy ExtraBold"),
         local("Gilroy-ExtraBold"),
         url("fonts/Gilroyextrabold.woff2") format("woff2"),
         url("fonts/Gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

/* -- ОБЩИЕ -- */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: black;
    line-height: 2;
    letter-spacing: 0.15px;

    background-color: white;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
 }

.modal-window,
.submenu {
    display: none;
}

.site-navigation,
.title, /* Заголовки H1-H6 */
.button, /* Кнопки с желтой полоской посередине */
.about-us ul,
.product-filter legend,
.pagination {
    font-family: "Gilroy", "Arial Black", sans-serif;
    font-weight: 800;
}

.site-navigation,
.site-navigation ul,
.user-menu,
.popular-categories-list,
.services-menu,
.brand-list,
.socials {
    list-style: none;
}

.site-navigation-link, /* 100% совпадение парвметров шрифта */
.button {
    font-size: 18px;
    letter-spacing: 3.6px;
    line-height: 1.33;
    text-transform: uppercase;
}

.button { /* Кнопки с желтой полоской посередине */
    display: inline-block;

    color: black;
    text-align: center;
    text-decoration: none;

    height: 40px;
    padding: 8px 10px;
    border-style: solid;
    border-width: 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
}

.button:hover,
.button:active,
.button:focus {
    background-image: url();
    background-color: #f0c52e;
}

.button:active,
.button:focus {
    color: rgba(0, 0, 0, 0.3);
}

.section-title {
    font-size: 47px;
    line-height: 1.02;
    letter-spacing: 0.47px;
}

/* -- (Конец) ОБЩИЕ -- */


/* -- ШАПКА + ПОДВАЛ -- */

.device-logo:hover,
.header .transparent-button:hover, /* .transparent-button - ссылка с картинкой слева */
.site-navigation a:hover {
    opacity: 0.6;
}

.device-logo:active,
.header .transparent-button:active,
.site-navigation a:active {
    opacity: 0.3;
}

.site-navigation-link,
.transparent-button {
    color: inherit;
}

.transparent-button.logout-link {
    opacity: 0.3;
}
/* -- (Конец) ШАПКА + ПОДВАЛ -- */


/* -- ШАПКПА -- */

.header {
    background-image: linear-gradient(to bottom, white 40px, rgb(240, 197, 46, 0.5) 40px);
    color: black;
}

.header .device-logo {
    margin-top: 23px;
}

.search-field {
    font: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    border-width: 0;
    background-color: transparent;
    opacity: 0.3;
    height: 49.5px;
}

.search-field:hover {
    opacity: 0.6;
}

.search-field:focus {
    opacity: 1;
    border-bottom: 2px solid black;
    outline: none;
}

.search-button {
    background-color: transparent;
    border: 2px solid black;
    border-style: solid;
    padding: 15px 21px;
    margin-left: -4px;
}

.search-button:hover,
.search-button:active,
.search-button:focus {
    background-color: black;
    outline: none;
}

.search-button:hover {
    color: white;
    cursor: pointer;
}

.search-button:active,
.search-button:focus {
    color: rgba(255, 255, 255, 0.3);
}

/* -- (Конец) ШАПКА  -- */


/* -- ГЛАВНАЯ (Index.html) -- */


/* -- СЛАЙДЕР -- */

.slider-title {
    font-size: 47px;
    line-height: 1.19;
    letter-spacing: 0.47px;
}

.slider-text {
    color: #464646;
}

.slaider-more-details-link {
    min-width: 220px;
}

.slider-table td {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.36px;
}

.slider-table th {
    font-size: 13px;
    color: #464646;
    line-height: 1.54;
    letter-spacing: 0.13px;
}

/* -- (Конец)СЛАЙДЕР -- */

/* -- ПОПУЛЯРНЫЕ КАТЕГОРИИ, СЕРВИСЫ -- */

.popular-category-title {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.18px;
    color: black;
}

.serviсes {
    background-image: linear-gradient(to bottom, white 140px, #e5e5e5 140px);
}

.services-menu {
    width: 285px;
    padding: 0;
    padding-top: 120px;
    margin-left: 50px;
    border-right: 7px solid black;

}

.services-button {
    min-width: 160px;
}

.current-services-button,
.services-button:active,
.services-button:focus {
    height: 40px;
    color: #f7e184;
    background-image: url();
    background-color: black;
    outline: none;
}

.current-services-button:hover,
.current-services-button:active,
.current-services-button:focus {
    background-color: black;
}

.current-services-button + .service-button-tail,
.services-button:active + .service-button-tail,
.services-button:focus + .service-button-tail {
    display: inline-block;
    width: 117.9px;
    height: 40px;
    margin-left: -4px;
    background-color: black;
    vertical-align: bottom;
}

.service-text {
    color: #464646;
}

/* -- (Конец)ПОПУЛЯРНЫЕ КАТЕГОРИИ, СЕРВИСЫ -- */

/* -- БРЭНДЫ -- */
.brand-item {
    position: relative;

    width: 260px;
    height: 100px;

}

.brand-image {
    position: absolute;
    top: 0;
    left: 0;
}

.gray-brand-image {
    z-index: 1;
}

.gray-brand-image:hover +.color-brand-image {
    display: block;
}

.color-brand-image {
    display: none;
}

/* -- (Конец) БРЭНДЫ -- */

/* -- О НАС, КОНТАКТЫ -- */

.about-us p,
.about-us ul,
.write-us p {
    letter-spacing: normal;
}

.about-us p,
.write-us p {
    color: #464646;
}

.about-us ul {
    font-size: 16px;
    line-height: 2.5;
}

.more-about-us-link,
.write-us-link {
    min-width: 260px;
}

/* -- (Конец) О НАС, КОНТАКТЫ -- */


/* -- (Конец) ГЛАВНАЯ (Index.html) -- */


/* -- ПОДВАЛ -- */

.footer {
    color: white;
    background-color: #464646;
}

.phone-number,
.socials a,
.developer-link {
    color: inherit;
}

.device-logo-orange {
    fill: #ffc600;
}

.footer .transparent-button:not(.logout-link) {
    opacity: 0.7;
}

.footer .transparent-button:hover {
    opacity: 1;
}

.footer .transparent-button:active {
    opacity: 0.3;
}


.phone-number {
    font: inherit;
}

.socials {
    text-align: center;
}

.socials a {
    opacity: 0.3;
}

.socials a:hover {
    opacity: 0.6;
}

.socials a:active {
    opacity: 0.1;
}

.developer-link:hover {
    opacity: 0.6;
}

.developer-link:active {
    opacity: 0.1;
}



/* -- (Конец) ПОДВАЛ  -- */



/* =====  Catalog.html  ===== */


/* -- ГЛАВНАЯ (Catalog.html) -- */

.page-title {
    font-size: 47px;
    line-height: 1.02;
    letter-spacing: 0.47px;
}

.breadcrumbs,
.product-filter-form ul,
.product-sorting ul,
.product-list,
.page-numbers-list {
    list-style: none;
}

.product-filter-label,
.product-sorting-label {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 3.2px;
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.14px;
    color: black;
    opacity: 0.3;
}

.breadcrumbs a:hover {
    opacity: 0.6;
}

.breadcrumbs a:active {
    opacity: 0.1;
}

.current-breadcrumb {
    opacity: 0.3;
}


/* -- ФИЛЬТР ТОВАРОВ -- */
.product-filter-head {
    background-color: #d9d9d9;
}

.product-filter {
    background-color: #ebebeb;
}

.product-filter fieldset {
    border: none;
}

.product-filter legend {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.18px;
}

.checkbox-list,
.radio-list {
    font-size: 14px;
    line-height: 2.86;
    letter-spacing: 0.14px;
}

.checkbox-input:hover,
.radio-input:hover {
    opacity: 0.6;
}

.checkbox-input:disabled,
.radio-input:disabled {
    opacity: 0.25;
}

.checkbox-input:disabled + label,
.radio-input:disabled + label {
    color: #a6a6a6;
}

.filter-submit {
    min-width: 200px;
    line-height: normal;
}
/* -- (Конец) ФИЛЬТР ТОВАРОВ -- */


/* -- КАТАЛОГ ТОВАРОВ, СОРТИРОВКА ТОВАРОВ -- */
.product-sorting-link {
    opacity: 0.3;
    font-size: 14px;
    line-height: 1.29;
    font-weight: 400;
    letter-spacing: normal;
    color: black;
}

.product-sorting-icon {
    opacity: 0.3;
}

.product-sorting-link:hover,
.product-sorting-icon:hover {
    opacity: 0.6;
}

.current-product-sorting-link:hover,
.current-product-sorting-icon:hover {
    opacity: 1;
}

.current-product-sorting-link,
.current-product-sorting-icon,
.product-sorting-link:active,
.product-sorting-icon:active {
    opacity: 1;
}

.product-title {
   font-size: 18px;
   line-height: 1.33;
   letter-spacing: 0.18px;
   color: black;
}

.add-to-compare {
    min-width: 200px;
    color: black;
}

.add-to-compare {
    opacity: 0.5;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: 0.13px;
}

.add-to-compare:hover {
    opacity: 1;
}

.add-to-compare:active {
    opacity: 0.2;
}

.product-price {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #464646;
    line-height: 1.5;
    letter-spacing: 0.16px;

}
/* -- (Конец) КАТАЛОГ ТОВАРОВ, СОРТИРОВКА ТОВАРОВ -- */

/* -- (Конец) ПАГИНАЦИЯ -- */
.page-number,
.page-number a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 3.2px;
    color: black;
}

.page-number a {
    opacity: 0.3;
}

.page-number a:hover {
    opacity: 0.6;
}

.page-number a:active {
    opacity: 1;
}

.pagination {
    background-color: #ebebeb;
}

.pagination-button {
    display: inline-block;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: black;
    text-align: center;

    width: 136px;
    height: 70px;
    padding: 23px 10px;

    background-color: transparent;
}

.pagination-button:hover,
.pagination-button:active,
.pagination-button:focus {
    background-color: #d9d9d9;
}

.pagination-button:active,
.pagination-button:focus {
    color: rgba(0, 0, 0, 0.3);
}

/* -- (Конец) ПАГИНАЦИЯ -- */


/* =====  (Конец) Catalog.html  ===== */



/* -- Внешние ресурсы -- */
.external-svg {
    display: none;
}
